.flex-container {
    display: flex;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    background-color: rgb(20, 29, 38);
    padding: 10px 20px;
}
.flex-container > div {
    /* background-color: rgba(60, 106, 151, 0.514); */
    /* width: 100px; */
    /* margin: 10px; */
    /* padding: 0px 30px 0px 30px; */
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 30px; */
}
.text { 
    text-align: center;
    font-size: 25px;
    color: rgb(103, 177, 255);
    font-size: 48px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
 .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-logo{
    margin: 10px 5px 5px 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.nav-tittle{
    margin: 10px 5px 5px 5px;
    text-align: center; 
    font-size:25px;
    color: rgb(103, 177, 255)

}

  
/* Style to expense summary */
.summary { 
    background-color: aqua;
    width: 25rem; 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    margin: 10px auto auto auto; 
    margin-bottom: 40px; 
    padding: 1%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
} 
  
  
.total { 
    display: flex; 
    flex-direction: row; 
    margin: auto; 
} 
  
.total>div { 
    width: 200px; 
} 
h2{
    color: aqua;

}
  
/* Style for the expense table and input form*/
.root { 
    width: fit-content; 
    background-color: rgb(20,29,38); 
    display: flex; 
    margin: 1% 12% 4% 9%; 
    padding: 2%; 
    padding-top: 1%; 
    justify-content: center; 
    text-align: center; 
    border-width: 6px; 
    border: 6px grey; 
    box-sizing: content-box; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    min-height: 30vh; 
} 
  
  
/* Style for the verticle bar*/
.vertical { 
    color: rgb(235, 13, 61); 
    margin: 0 2%; 
    border-width: 2px; 
} 
  
/* Style for table*/
#table { 
    border-collapse: collapse; 
    width: 50vw; 
    border: 1px solid #ddd; 
    font-size: 18px; 
} 
  
/* Table */
#table th, 
#table td { 
    text-align: left; 
    padding: 12px; 
} 
  
/* Table row */
#table tr { 
    border-bottom: 1px solid #ddd; 
} 
  
/* Headings*/
#table tr.titles { 
    background-color: lightgreen; 
} 
  
/* Style for each input item */
.inputitem { 
    display: flex; 
    flex-direction: row; 
    font-weight: bolder; 
    font-size: large; 
    color:rgba(203, 250, 255, 0.756);
    padding: 1%; 
} 
  
input, 
select, 
option { 
    background-color: white;
    padding: 2%; 
    border-radius: 5px; 
    margin: 2%; 
} 
  
button { 
    background-color: cyan;
    font-size: large; 
    border-radius: 5px; 
    padding: 1%; 
} 
  
.zoom { 
    color: rgb(255, 150, 150); 
    transition: transform .2s; 
  
} 
  
.zoom:hover { 
    transform: scale(1.23); 
  
    color: green; 
}
